.chatpage_container{
    background-color: red;
    width: 1200px;
    display: grid;
}

.chatpage_container_left{
    background-color: rgb(235, 199, 199);
    height: 300px;
}

.chatpage_container_right{
    background-color: rgb(174, 196, 209);
    height: 300px;
}