.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 75px;
  background-color: #222222; }

.header__button {
  background: transparent;
  border: none;
  margin-top: 10px; }

.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%; }

.header__container {
  height: 100%;
  display: flex;
  align-items: center; }

.header__menu__item-circle {
  width: 19px;
  height: 17px;
  background: #F16D7F;
  float: right;
  border-radius: 50%; }

.withcircle:hover .header__menu__item-circle {
  background-color: #FFB6C1; }

.withcircle:hover .circle-numb {
  color: #222222; }

.withcircle:active .circle-numb {
  color: #ffffff; }

.withcircle:active .header__menu__item-circle {
  background-color: #F16D7F; }

.withcircle {
  width: 42px;
  height: 36px;
  background-image: url(../img/menu-3.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative; }

.header__menu-item-last {
  margin-bottom: 7px; }

.circle-numb {
  color: #ffffff;
  margin: 0 auto;
  padding-top: 1px; }

.header__logo {
  margin: 0 41px 0 0; }

.header__menu-item {
  padding-left: 20px; }

.header__menu-item:hover, .header__button:hover {
  stroke: #808080;
  fill: #808080; }

.header__menu-item:active, .header__button:active {
  stroke: #F16D7F;
  fill: #F16D7F; }

@media (max-width: 1599px) {
  .container {
    width: 736px;
    margin: 0 auto; } }
@media (max-width: 767px) {
  .container {
    width: 359px;
    margin: 0 auto; }

  .media-none {
    display: none; } }
.name {
  height: 764px;
  width: 1600px;
  background-color: #F1E4E6;
  position: relative; }

.name__img {
  position: absolute; }

.name__content {
  width: 405px;
  height: 93px;
  float: right;
  margin-right: 331px;
  margin-top: 335px; }

.name__content-band {
  width: 12px;
  height: 100%;
  float: left;
  background-color: #F16D7F;
  border: none; }

.name__content-text {
  width: 377px;
  height: 100%;
  float: right; }

.content__text-h1 {
  font-size: 48px;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase;
  line-height: 48px; }

.content__text-h1-bottom {
  font-size: 32px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase; }

.content__text-h1-pink {
  font-size: 32px;
  font-weight: 700;
  color: #F16D7F;
  text-transform: uppercase; }

@media (max-width: 1599px) {
  .name {
    height: 368px;
    width: 768px; }

  .name__img {
    width: 384px;
    height: 369px; }

  .name__content {
    width: 300px;
    height: 71px;
    margin-right: 33px;
    margin-top: 138px; }

  .name__content-text {
    width: 283px; }

  .content__text-h1 {
    font-size: 44px;
    line-height: 30px; }

  .content__text-h1-bottom, .content__text-h1-pink {
    font-size: 24px; } }
@media (max-width: 767px) {
  .name {
    height: 363px;
    width: 375px; }

  .name__content {
    width: 266px;
    height: 63px;
    margin-right: 56px;
    margin-top: 148px; }

  .name__content-text {
    width: 236px; }

  .content__text-h1 {
    font-size: 38px;
    line-height: 28px; }

  .content__text-h1-bottom, .content__text-h1-pink {
    font-size: 20px; } }
.stock {
  height: 470px;
  margin-top: 63px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(1, 260px);
  grid-template-areas: "stock-women stock-men stock-kids" "stock-accesories stock-accesories stock-accesories";
  grid-column-gap: 30px;
  grid-row-gap: 30px; }

.stock-women {
  grid-area: stock-women;
  position: relative;
  background-image: url(../img/stock_women.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.stock-men {
  grid-area: stock-men;
  position: relative;
  background-image: url(../img/stock_men.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.stock-kids {
  grid-area: stock-kids;
  position: relative;
  background-image: url(../img/stock_kids.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.stock-accesories {
  height: 180px;
  grid-area: stock-accesories;
  position: relative;
  background-image: url(../img/stock_ac.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.stock-women:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.stock-men:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.stock-kids:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.stock-accesories:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.stock__text {
  position: relative;
  z-index: 3;
  text-align: center;
  padding-top: 105px;
  width: 100%; }

.stock__text-ac {
  position: relative;
  z-index: 3;
  text-align: center;
  padding-top: 65px;
  width: 100%; }

.stock__text-h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase; }

.stock__text-pink {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

@media (max-width: 1599px) {
  .stock {
    width: 736px;
    height: 303px;
    margin-top: 19px;
    grid-template-columns: repeat(3, 232px);
    grid-template-rows: repeat(1, 168px);
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

  .stock-accesories {
    height: 116px; }

  .stock__text {
    padding-top: 59px; }

  .stock__text-ac {
    padding-top: 33px; } }
@media (max-width: 767px) {
  .stock {
    width: 343px;
    height: 948px;
    margin-top: 64px;
    grid-template-columns: repeat(1, 343px);
    grid-template-rows: repeat(4, 247px);
    grid-template-areas: "stock-women" "stock-men" "stock-kids" "stock-accesories";
    grid-column-gap: 0px;
    grid-row-gap: 32px; }

  .stock-accesories {
    height: 111px; }

  .stock__text {
    padding-top: 103px; }

  .stock__text-ac {
    padding-top: 37px; } }
.fetured {
  height: 1408px;
  margin-top: 97px; }

.text__box-h1 {
  color: #222222;
  font-weight: 400;
  font-size: 30px;
  text-align: center; }

.text__box-p {
  line-height: 30px;
  color: #9F9F9F;
  font-weight: 400;
  font-size: 14px;
  text-align: center; }

.fetured__carts {
  height: 1197px;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  grid-template-areas: "topfirst-grayblock topsec-grayblock topthird-grayblock" "bottomfirst-grayblock bottomsec-grayblock bottomthird-grayblock";
  grid-column-gap: 30px;
  grid-row-gap: 30px; }

.topfirst-grayblock {
  grid-area: topfirst-grayblock; }

.topsec-grayblock {
  grid-area: topsec-grayblock; }

.topthird-grayblock {
  grid-area: topthird-grayblock; }

.bottomfirst-grayblock {
  grid-area: bottomfirst-grayblock; }

.bottomsec-grayblock {
  grid-area: bottomsec-grayblock; }

.bottomthird-grayblock {
  grid-area: bottomthird-grayblock; }

.fetured__carts-grayblock {
  background-color: #F8F8F8;
  width: 360px;
  height: 581px;
  position: relative; }

.carts_grayblock-text {
  width: 315px;
  height: 117px;
  margin-top: 25px;
  margin-left: 17px; }

.grayblock_text-h1 {
  color: #222222;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase; }

.grayblock_text-p {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  padding-top: 15px; }

.grayblock_text-price {
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  padding-top: 19px; }

.carts_grayblock-img-first {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-1.jpg); }

.carts_grayblock-img-first:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-1.jpg); }

.fetured__item-button {
  background-image: url(../img/basket.svg);
  background-position: left 13px top 7px;
  background-repeat: no-repeat;
  position: absolute;
  width: 138px;
  height: 43px;
  background-color: transparent;
  outline: 1px solid #ffffff;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding-left: 24px;
  margin-left: 30%;
  margin-top: 199px;
  z-index: 3;
  display: none; }

.fetured__item-button:active {
  outline: 3px solid #ffffff; }

.carts_grayblock-img:hover .fetured__item-button {
  display: block; }

.fetured__item-button:hover {
  background-color: #F16D7F; }

.carts_grayblock-img-sec {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-2.jpg); }

.carts_grayblock-img-sec:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-2.jpg); }

.carts_grayblock-img-third {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-3.jpg); }

.carts_grayblock-img-third:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-3.jpg); }

.carts_grayblock-img-fourth {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-4.jpg); }

.carts_grayblock-img-fourth:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-4.jpg); }

.carts_grayblock-img-fiv {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-5.jpg); }

.carts_grayblock-img-fiv:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-5.jpg); }

.carts_grayblock-img-six {
  width: 360px;
  height: 420px;
  background-image: url(../img/fetured_grayblock-6.jpg); }

.carts_grayblock-img-six:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fetured_grayblock-6.jpg); }

.fetured__bottom-browseall {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #FF6A6A;
  margin-top: 48.5px;
  margin-left: 41%;
  margin-right: 59%; }

.fetured__bottom-browseall:hover {
  background-color: #FF6A6A;
  color: #ffffff; }

.fetured__bottom-browseall:active {
  font-weight: bold; }

@media (max-width: 1599px) {
  .fetured {
    height: 1992px;
    margin-top: 155px; }

  .fetured__carts {
    height: 1780px;
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 581px);
    grid-template-areas: "topfirst-grayblock topsec-grayblock" "topthird-grayblock bottomfirst-grayblock" "bottomsec-grayblock bottomthird-grayblock";
    grid-column-gap: 16px;
    grid-row-gap: 17px; }

  .fetured__bottom-browseall {
    margin-top: 33px;
    margin-left: 36%;
    margin-right: 64%; } }
@media (max-width: 767px) {
  .fetured {
    height: 3785px;
    margin-top: 64px; }

  .fetured__carts {
    height: 3572px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: repeat(6, 581px);
    grid-template-areas: "topfirst-grayblock" "topsec-grayblock" "topthird-grayblock"  "bottomfirst-grayblock"  "bottomsec-grayblock"  "bottomthird-grayblock";
    grid-column-gap: 0px;
    grid-row-gap: 17px; }

  .fetured__bottom-browseall {
    margin-top: 41px;
    margin-left: 20%;
    margin-right: 80%; } }
* {
  font-family: 'Lato', sans-serif; }

@font-face {
  font-family: 'Lato';
  src: url("../css/fonts/Lato-Light.ttf");
  src: url("../css/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../css/fonts/Lato-Black.ttf");
  src: url("../css/fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
.advantages {
  width: 1600px;
  margin: 0 auto;
  height: 341px;
  background-color: #222224;
  margin-top: 95px; }

.advantages__filling {
  width: 1140px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 103px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(1, 140px);
  grid-template-areas: "delivery sales quality";
  grid-column-gap: 30px; }

.advantages__filling-delivery {
  width: 330px;
  height: 133px;
  grid-area: delivery;
  text-align: center; }

.advantages__filling-sales {
  width: 330px;
  height: 133px;
  grid-area: sales;
  text-align: center; }

.advantages__filling-quality {
  width: 330px;
  height: 133px;
  grid-area: quality;
  text-align: center; }

.advantages-h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-top: 28px;
  text-align: center; }

.advantages-p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  text-align: center; }

@media (max-width: 1599px) {
  .advantages {
    width: 768px;
    height: 610px;
    margin-top: 65px; }

  .advantages__filling {
    width: 360px;
    padding-top: 48px;
    margin-left: 210px;
    display: grid;
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: repeat(3, 133px);
    grid-template-areas: "delivery" "sales" "quality";
    grid-column-gap: 0px;
    grid-row-gap: 48px; } }
@media (max-width: 767px) {
  .advantages {
    width: 375px;
    height: 610px;
    margin-top: 96px; }

  .advantages__filling {
    width: 360px;
    height: 100%;
    padding-top: 48px;
    margin: 0 auto;
    grid-row-gap: 47px; } }
.footer {
  width: 100%;
  height: 527px;
  position: relative; }

.footer__top {
  background-image: url(../img/footer_bkg.jpg);
  width: 1600px;
  height: 448px;
  position: relative;
  margin: 0 auto; }

.footer__bottom {
  background-color: #222224;
  width: 100%;
  height: 79px;
  position: relative; }

.footer__top-left {
  width: 359px;
  height: 235px;
  margin-top: 87px;
  position: absolute;
  text-align: center; }

.footer__top-left-text {
  margin-top: 40px;
  color: #222224;
  font-size: 20px;
  font-weight: 400;
  font-style: italic; }

.footer__top-right {
  width: 359px;
  height: 142px;
  margin-top: 150px;
  float: left;
  text-align: center;
  margin-left: 687px; }

.footer__top-right-h1 {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px; }

.footer__top-right-p {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.footer__top-fill {
  width: 1186px;
  height: 100%; }

.footer__form-input {
  width: 323px;
  height: 47px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 50px;
  z-index: 2;
  float: left;
  padding-left: 22px; }

.footer__button-subscribe {
  height: 49px;
  width: 100px;
  background-color: #F16D7F;
  border: none;
  outline: none;
  border-radius: 0px 50px 50px 0px;
  z-index: 1;
  position: absolute;
  float: right;
  margin-left: -95px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400px;
  text-align: center; }

.footer__button-subscribe:hover {
  font-size: 15px; }

.footer__button-subscribe:active {
  font-weight: bold; }

.footer__form {
  width: 357px;
  height: 49px;
  margin-top: 32px; }

.footer__bottom-icons {
  width: 149px;
  height: 32px;
  float: right;
  padding-top: 24px;
  display: flex;
  justify-content: space-between; }

.footer__bottom-copyright {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  padding-top: 30px;
  position: absolute;
  line-height: 19px; }

@media (max-width: 1599px) {
  .footer {
    height: 772px; }

  .footer__top {
    width: 769px;
    height: 693px;
    background: url("../img/footer_bkg.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left -400px bottom; }

  .footer__top-left {
    margin-top: 54px;
    position: absolute;
    text-align: center; }

  .footer__top-right {
    margin-top: 336px;
    text-align: center;
    float: right; }

  .footer__top-fill {
    width: 360px;
    height: 100%; }

  .footer_buttom-box {
    width: 704px; } }
@media (max-width: 767px) {
  .footer {
    height: 693px; }

  .footer__top {
    width: 375px;
    height: 550px; }

  .footer__top-right {
    margin-top: 317px; }

  .footer__bottom {
    height: 143px; }

  .footer__bottom-icons {
    width: 149px;
    height: 32px;
    float: left;
    padding-top: 24px;
    margin-left: 52px; }

  .footer__bottom-copyright {
    width: 358px;
    padding-top: 115px;
    text-align: left; }

  .footer_buttom-box {
    width: 251px; } }
.registration {
  height: 675px; }

.registration__form {
  width: 358px;
  height: 100%;
  float: left;
  margin-top: 64px; }

.registration__text {
  width: 652px;
  height: 100%;
  float: right;
  margin-top: 64px; }

.registration__text-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase; }

.registration__text-p {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #222222;
  padding-top: 22px; }

.registration__text-list {
  color: #222222;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  list-style-type: none;
  margin-left: 37px;
  padding-top: 13px; }

.registration__text-list li {
  position: relative;
  margin-top: 16px; }

.registration__text-list li:after {
  content: '\2714';
  position: absolute;
  top: -3px;
  left: -37px; }

.registration__form-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #222222; }

.registration__form-input {
  width: 339px;
  height: 45px;
  background-color: #FFFFFF;
  border: 1px solid #B1B1B1;
  padding-left: 17px;
  margin-top: 21px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px; }

.checkbox-gender {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 31px;
  margin-left: 27px;
  margin-bottom: 33px; }

.checkbox__other-gender {
  display: none; }

input[type="radio"] {
  display: none; }

.label-radio {
  position: relative; }

.label-radio::before {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  content: '';
  position: absolute;
  left: -27px;
  border-radius: 50%; }

input[type="radio"]:checked + .label-radio::before {
  background: #F16D7F; }

.registration__form-postscript {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  margin-top: 16px; }

.registration__form-button {
  height: 50px;
  width: 167px;
  border-radius: 0px;
  margin-top: 39px;
  background-color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #FFFFFF;
  border: none; }

.registration__form-button:active {
  border: 1px solid; }

.arrow {
  display: none;
  position: absolute;
  margin-top: -35px;
  margin-left: 130px;
  color: white;
  font-size: 18px;
  font-weight: 300; }

.registration__form-button:hover + .arrow {
  display: block; }

@media (max-width: 1599px) {
  .registration {
    height: 651px; }

  .registration__form {
    margin-top: 40px; }

  .registration__text {
    width: 354px;
    margin-top: 40px; }

  .registration__text-title {
    font-size: 16px;
    line-height: 19px; }

  .registration__text-p {
    font-size: 16px;
    line-height: 19px; }

  .registration__text-list {
    font-size: 16px;
    line-height: 19px; }

  .checkbox__other-gender {
    display: block; }

  .checkbox-gender {
    width: 208px; } }
@media (max-width: 767px) {
  .registration {
    height: 1032px; }

  .registration__text {
    width: 358px;
    height: 337px; }

  .registration__form {
    height: 535px; } }
.catalog__pinkbox {
  height: 148px;
  background-color: #F8F3F4; }

.catalog__pinkbox-box {
  width: 100%;
  height: 29px;
  padding-top: 59px; }

.catalog__pinkbox-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  position: absolute;
  float: left; }

.catalog__pinkbox-breadcrumb {
  position: relative;
  float: right;
  padding-top: 12px; }

.carts_filter-box {
  width: 686px;
  height: 17px;
  background-color: red;
  padding-top: 51px; }

.carts_filter-filter {
  width: 90px;
  height: 17px;
  background-color: #268b26;
  position: absolute;
  float: left; }

.carts_filter-dropdowns {
  width: 286px;
  height: 17px;
  background-color: #c100e7;
  position: relative;
  float: right;
  display: flex;
  justify-content: space-between; }

.filter-view {
  text-transform: uppercase;
  color: 000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px; }

.filter-view:focus, .filter-view:active {
  color: #EF5B70; }

.filter-toggle::after {
  content: '\2630'; }

.filter_ul-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6F6E6E;
  text-transform: capitalize; }

.filter_ul-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
  text-decoration: none; }

.filter_ul-titlebox {
  height: 40px;
  width: 327px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-left: 17px;
  padding-left: 11px;
  padding-top: 10px;
  margin-top: 18px; }

#filter_dropdown-menu {
  width: 360px;
  height: 531px; }

.filter_ul-items {
  width: 100%;
  height: 327px;
  padding-left: 18px;
  padding-top: 13px; }

.catalog__carts {
  height: 1803px;
  background-color: yellow;
  margin-bottom: 188px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(3, 581px);
  grid-template-areas: "catalog__carts-top-first catalog__carts-top-sec catalog__carts-top-th" "catalog__carts-middle-first catalog__carts-middle-sec catalog__carts-middle-th" "catalog__carts-bottom-first catalog__carts-bottom-sec catalog__carts-bottom-th";
  grid-column-gap: 30px;
  grid-row-gap: 30px; }

.catalog__carts-top-first {
  grid-area: catalog__carts-top-first; }

.catalog__carts-top-sec {
  grid-area: catalog__carts-top-sec; }

.catalog__carts-top-th {
  grid-area: catalog__carts-top-th; }

.catalog__carts-middle-first {
  grid-area: catalog__carts-middle-first; }

.catalog__carts-middle-sec {
  grid-area: catalog__carts-middle-sec; }

.catalog__carts-middle-th {
  grid-area: catalog__carts-middle-th; }

.catalog__carts-bottom-first {
  grid-area: catalog__carts-bottom-first; }

.catalog__carts-bottom-first {
  grid-area: catalog__carts-bottom-sec; }

.catalog__carts-bottom-first {
  grid-area: catalog__carts-bottom-th; }

.breadcrumb_item-font {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none; }

.breadcrumb_item-pinkfont {
  color: #f1566a;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none; }

.breadcrumb_item-font:hover {
  color: #272727; }

.breadcrumb_item-font:active {
  color: #f1566a; }

.catalog__carts-filter {
  height: 132px; }

@media (max-width: 767px) {
  .catalog__pinkbox-title {
    position: relative;
    padding-left: 25%; }

  .catalog__pinkbox-breadcrumb {
    float: left;
    padding-left: 18%; } }
.close {
  position: relative;
  float: right;
  right: 28px;
  top: 22px;
  width: 9px;
  height: 9px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:focus, .close:active {
  opacity: 0.3; }

.close:before, .close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.cart__pinkbox {
  height: 148px;
  background-color: #F8F3F4; }

.cart__pinkbox-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  padding-top: 59px; }

.cart__mainbox {
  height: 998px; }

.cart__mainbox-carts {
  height: 773px;
  width: 652px;
  position: absolute;
  float: left;
  margin-top: 96px; }

.cart__mainbox-form {
  height: 557px;
  width: 359px;
  float: right;
  margin-top: 113px;
  position: relative; }

.mainbox_carts-cap {
  width: 100%;
  height: 306px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.mainbox_carts-blackmen {
  display: block;
  width: 100%;
  height: 306px;
  margin-top: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.mainbox__carts-img {
  position: absolute; }

.mainbox__carts-inf {
  width: 200px;
  float: right;
  padding-right: 140px;
  padding-top: 22px; }

.mainbox__carts-h1 {
  color: #222222;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 42px; }

.mainbox__carts-text {
  padding-top: 10px;
  color: #222222;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px; }

.text-quantity {
  position: absolute; }

.quantity {
  width: 43px;
  height: 24px;
  border: 1px solid #A4A4A4;
  position: relative;
  margin-top: 10px;
  margin-left: 121px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center; }

.carts_button-clear {
  height: 50px;
  width: 235px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #000000;
  float: left;
  position: absolute;
  margin-top: 72px; }

.carts_button-continue {
  height: 50px;
  width: 235px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #000000;
  float: right;
  position: relative;
  margin-top: 72px; }

.carts_button-continue:hover, .carts_button-clear:hover {
  background-color: #F5F3F3; }

.carts_button-continue:active, .carts_button-clear:active {
  outline: 1px solid #F16D7F;
  border: none; }

.cart__button-position {
  width: 100%; }

.cart__form-input {
  width: 339px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #B1B1B1;
  padding-left: 17px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px; }

.cart__form-input::placeholder {
  color: #222222; }

.cart__form-input-Bang::placeholder {
  color: #B1B1B1; }

.mainbox__form-button {
  height: 34px;
  width: 100px;
  border: none;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-align: center;
  margin-top: 23px; }

.mainbox__form-button:hover {
  background-color: #F5F3F3; }

.mainbox__form-button:active {
  outline: 1px solid #F16D7F;
  border: none; }

.cart__form-h1 {
  color: #222222;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px; }

.mainbox__form-main {
  width: 100%;
  height: 290px;
  float: left; }

.cart__form-salesreceipt {
  height: 214px;
  width: 360px;
  background-color: #F5F3F3;
  border: none;
  margin-top: 57px;
  position: relative;
  float: left; }

.form_salesreceipt-h3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  color: #222222;
  text-align: right;
  padding-top: 39px; }

.form_salesreceipt-h3 span {
  padding-left: 20px; }

.form_salesreceipt-h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  color: #222222;
  text-align: right;
  padding-top: 12px; }

.form_salesreceipt-h1 span {
  color: #F16D7F; }

.salesreceipt-container {
  width: 237px;
  margin: 0 auto; }

.form_salesreceipt-band {
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
  margin-top: 21px; }

.form_salesreceipt-button {
  height: 50px;
  width: 100%;
  background-color: #F16D7F;
  border: none;
  margin-top: 17px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px; }

.form_salesreceipt-button:hover {
  font-size: 15px; }

.form_salesreceipt-button:active {
  font-weight: bold; }

@media (max-width: 1599px) {
  .cart__mainbox {
    height: 1287px; }

  .cart__mainbox-carts {
    width: 736px;
    position: relative;
    float: left;
    margin-top: 59px; }

  .cart__mainbox-form {
    height: 272px;
    width: 734px;
    float: left;
    margin-top: 64px; }

  .mainbox__carts-inf {
    padding-right: 240px;
    padding-top: 22px; }

  .cart__button-position {
    width: 517px;
    margin: 0 auto; }

  .mainbox__form-main {
    width: 360px;
    height: 272px; }

  .cart__form-salesreceipt {
    margin-top: 39px;
    float: right; } }
@media (max-width: 767px) {
  .cart__mainbox {
    height: 1188px; }

  .cart__mainbox-carts {
    height: 471px;
    width: 357px;
    margin-top: 39px; }

  .mainbox__carts-img {
    width: 144px;
    height: 188px; }

  .cart__mainbox-form {
    height: 543px;
    width: 359px;
    background-color: yellowgreen;
    float: right;
    margin-top: 113px;
    position: relative; }

  .mainbox_carts-cap, .mainbox_carts-blackmen {
    height: 188px; }

  .close {
    right: 17px;
    top: 12px;
    width: 5px;
    height: 5px; }

  .close:before, .close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333; }

  .close-position {
    margin-top: -45px; }

  .mainbox_carts-blackmen {
    margin-top: 32px; }

  .mainbox__carts-inf {
    width: 140px;
    padding-right: 53px;
    padding-top: 14px; }

  .mainbox__carts-h1 {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 23px; }

  .mainbox__carts-text {
    padding-top: 5px;
    font-size: 14px;
    line-height: 17px; }

  .quantity {
    width: 24px;
    height: 15px;
    margin-top: 7px;
    margin-left: 105px;
    font-size: 10px;
    line-height: 15px; }

  .cart__button-position {
    width: 100%; }

  .carts_button-clear, .carts_button-continue {
    height: 33px;
    width: 175px;
    text-transform: none;
    font-size: 12px;
    line-height: 15px;
    margin-top: 30px; }

  .cart__mainbox-form {
    height: 534px;
    width: 360px;
    margin-top: 48px; }

  .cart__form-salesreceipt {
    margin-top: 50px;
    float: left; }

  .mainbox__form-main {
    height: 290px; } }
.product__container {
  width: 1140px;
  margin: 0 auto; }

.carousel {
  width: 1600px;
  margin: 0 auto; }

.carousel__item-filling {
  width: 100%;
  height: 777px;
  background-color: #F7F7F7; }

.carousel__img {
  height: 724px;
  width: 597px;
  margin: 0 auto;
  padding-top: 11px; }

.product__description {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  height: 601px;
  width: 1141px;
  position: absolute;
  margin-top: -42px; }

.product__description-dopdowns {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: space-between; }

.product__description-container {
  width: 555px;
  margin: 0 auto;
  text-align: center; }

.product__description-pink {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  padding-top: 65px;
  color: #F16D7F; }

.product__description-pinkband {
  height: 3px;
  width: 63px;
  background-color: #EF5B70;
  border: none;
  margin: 0 auto;
  margin-top: 12px; }

.product__description-h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px; }

.product__description-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #5E5E5E;
  padding-top: 48px; }

.product__main-button {
  background-image: url(../img/pinkbasket.svg);
  background-position: left 23px top 10px;
  background-repeat: no-repeat;
  margin-top: 49px;
  width: 211px;
  height: 47px;
  background-color: transparent;
  border: 1px solid #FF6A6A;
  color: #F26376;
  font-size: 16px;
  text-transform: capitalize;
  padding-left: 24px; }

.product__description-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  color: #EF5B70;
  padding-top: 32px; }

.product__description-grayband {
  height: 1px;
  width: 100%;
  border: 1px solid #EAEAEA;
  margin-top: 65px; }

.product__main-button:hover {
  background-color: #F7F7F7; }

.product__main-button:active {
  font-weight: bold; }

.dropdown-view {
  text-transform: uppercase;
  height: 17px;
  width: 109px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E; }

.product__minicatalog {
  margin-top: 664px;
  margin-bottom: 128px;
  width: 100%;
  height: 581;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(1, 581px);
  grid-template-areas: "product__minicatalog-left product__minicatalog-center product__minicatalog-right";
  grid-column-gap: 30px; }

.product__minicatalog-left {
  grid-template-areas: product__minicatalog-left; }

.product__minicatalog-right {
  grid-template-areas: product__minicatalog-right;
  display: block; }

.product__minicatalog-center {
  grid-template-areas: product__minicatalog-center;
  display: block; }

@media (max-width: 1599px) {
  .carousel {
    width: 768px; }

  .carousel__item-filling {
    height: 624px; }

  .carousel__img {
    height: 565px;
    width: 466px;
    padding-top: 30px; }

  .product__description {
    height: 601px;
    width: 768px;
    position: relative;
    margin-top: 0px;
    margin: 0; }

  .product__container {
    width: 768px;
    margin: 0 auto; }

  .product__minicatalog {
    margin-top: 129px;
    width: 736px;
    margin-left: 16px;
    grid-template-columns: repeat(2, 360px);
    grid-template-areas: "product__minicatalog-left product__minicatalog-center";
    grid-column-gap: 16px; }

  .product__minicatalog-right {
    display: none; } }
@media (max-width: 767px) {
  .carousel {
    width: 375px; }

  .carousel__img {
    height: 480px;
    width: 370px;
    padding-top: 85px; }

  .product__description {
    height: 600px;
    width: 375px; }

  .product__container {
    width: 375px; }

  .product__description-container {
    width: 326px; }

  .dropdown-view {
    height: 12px;
    width: 78px;
    font-size: 10px;
    line-height: 12px; }

  .product__minicatalog {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 358px;
    margin-left: 8px;
    grid-template-columns: repeat(1, 358px);
    grid-template-rows: repeat(2, 581px);
    grid-template-areas: "product__minicatalog-left" "product__minicatalog-right";
    grid-column-gap: 0px;
    grid-row-gap: 0px; }

  .product__minicatalog-right {
    display: block; }

  .product__minicatalog-center {
    display: none; } }

/*# sourceMappingURL=style.css.map */
