.advantages {
    width: 1600px;
    margin: 0 auto;
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
}

.advantages__filling {
    width: 1140px;
    height: 100%;
    position: relative;;
    margin: 0 auto;
    padding-top: 103px;

    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 140px);
    grid-template-areas: 
        "delivery sales quality";
    grid-column-gap: 30px;
}

.advantages__filling-delivery{
    width: 330px;
    height: 133px;

    grid-area: delivery;

    text-align: center;
}

.advantages__filling-sales{
    width: 330px;
    height: 133px;

    grid-area: sales;

    text-align: center;
}

.advantages__filling-quality{
    width: 330px;
    height: 133px;

    grid-area: quality;

    text-align: center;
}

.advantages-h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding-top: 28px;
    text-align: center;
}

.advantages-p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    padding-top: 16px;
    text-align: center;
}


@media (max-width: 1599px){
    .advantages {
        width: 768px;
        height: 610px;
        margin-top: 65px;
    }

    .advantages__filling {
        width: 360px;
        padding-top: 48px;
        margin-left: 210px;
    
        display: grid;
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(3, 133px);
        grid-template-areas: 
            "delivery"
            "sales" 
            "quality";
        grid-column-gap: 0px;
        grid-row-gap: 48px;
    }
}

@media (max-width: 767px){
    .advantages {
        width: 375px;
        height: 610px;
        margin-top: 96px;
    }

    .advantages__filling {
        width: 360px;
        height: 100%;
        padding-top: 48px;
        margin: 0 auto;

        grid-row-gap: 47px;
    }
}