.catalog__pinkbox{
    height: 148px;
    background-color: #F8F3F4;
}

.catalog__pinkbox-box {
    width: 100%;
    height: 29px;
    padding-top: 59px;
}

.catalog__pinkbox-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    position: absolute;
    float: left;
}

.catalog__pinkbox-breadcrumb {
    position: relative;
    float: right;
    padding-top: 12px;
}

.carts_filter-box{
    width: 686px;
    height: 17px;
    background-color: red;
    padding-top: 51px;
}

.carts_filter-filter{
    width: 90px;
    height: 17px;
    background-color: rgb(38, 139, 38);
    position: absolute;
    float: left;
}

.carts_filter-dropdowns{
    width: 286px;
    height: 17px;
    background-color: rgb(193, 0, 231);
    position: relative;
    float: right;
    display: flex;
    justify-content: space-between;
}

.filter-view {
    text-transform: uppercase;
    color: 000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.filter-view:focus , .filter-view:active {
    color: #EF5B70;
}

.filter-toggle::after {
    content: '\2630';
}

.filter_ul-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6F6E6E;
    text-transform: capitalize;
}

.filter_ul-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    text-transform: uppercase;
    text-decoration: none;
}

.filter_ul-titlebox {
    height: 40px;
    width: 327px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    margin-left: 17px;
    padding-left: 11px;
    padding-top: 10px;
    margin-top: 18px;
}

#filter_dropdown-menu {
    width: 360px;
    height: 531px;
}

.filter_ul-items {
    width: 100%;
    height: 327px;
    padding-left: 18px;
    padding-top: 13px;
}



.catalog__carts{
    height: 1803px;
    background-color: yellow;
    margin-bottom: 188px;

    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(3, 581px);
    grid-template-areas: 
        "catalog__carts-top-first catalog__carts-top-sec catalog__carts-top-th"
        "catalog__carts-middle-first catalog__carts-middle-sec catalog__carts-middle-th"
        "catalog__carts-bottom-first catalog__carts-bottom-sec catalog__carts-bottom-th";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.catalog__carts-top-first {
    grid-area: catalog__carts-top-first;
}

.catalog__carts-top-sec {
    grid-area: catalog__carts-top-sec;
}

.catalog__carts-top-th {
    grid-area: catalog__carts-top-th;
}

.catalog__carts-middle-first {
    grid-area: catalog__carts-middle-first;
}

.catalog__carts-middle-sec {
    grid-area: catalog__carts-middle-sec;
}

.catalog__carts-middle-th {
    grid-area: catalog__carts-middle-th;
}

.catalog__carts-bottom-first {
    grid-area: catalog__carts-bottom-first;
}

.catalog__carts-bottom-first {
    grid-area: catalog__carts-bottom-sec;
}

.catalog__carts-bottom-first {
    grid-area: catalog__carts-bottom-th;
}

.breadcrumb_item-font {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
    text-decoration: none;
}

.breadcrumb_item-pinkfont{
    color: #f1566a;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

.breadcrumb_item-font:hover {
    color: #272727;
}

.breadcrumb_item-font:active{
    color: #f1566a;
}

.catalog__carts-filter {
    height: 132px;
}

@media (max-width: 1599px){

}

@media (max-width: 767px) {
    .catalog__pinkbox-title {
        position: relative;
        padding-left: 25%;
    }
    
    .catalog__pinkbox-breadcrumb {
        float: left;
        padding-left: 18%;
    }
}
