* {
    font-family: 'Lato', sans-serif;
}

@font-face{
    font-family: 'Lato';
    src: url('../css/fonts/Lato-Light.ttf');
    src: url('../css/fonts/Lato-Regular.ttf');
    font-weight: normal;    
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url('../css/fonts/Lato-Black.ttf');
    src: url('../css/fonts/Lato-Bold.ttf');
    font-weight: bold;    
    font-style: normal;
}