.product__container {
    width: 1140px;
    margin: 0 auto;
}

.carousel {
    width: 1600px;
    margin: 0 auto;
}

.carousel__item-filling {
    width: 100%;
    height: 777px;
    background-color: #F7F7F7;
}

.carousel__img {
    height: 724px;
    width: 597px;
    margin: 0 auto;
    padding-top: 11px;
}

.product__description {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    height: 601px;
    width: 1141px;
    position: absolute;
    margin-top: -42px;
}

.product__description-dopdowns {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.product__description-container {
    width: 555px;
    margin: 0 auto;
    text-align: center;
}

.product__description-pink {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 65px;
    color: #F16D7F;
}

.product__description-pinkband {
    height: 3px;
    width: 63px;
    background-color: #EF5B70;
    border: none;
    margin: 0 auto;
    margin-top: 12px;
}

.product__description-h1 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
}

.product__description-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #5E5E5E;
    padding-top: 48px;
}

.product__main-button {
    background-image: url(../img/pinkbasket.svg);
    background-position: left 23px top 10px;
    background-repeat: no-repeat;
    margin-top: 49px;

    width: 211px;
    height: 47px;
    background-color: transparent;
    border: 1px solid #FF6A6A;

    color:#F26376;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 24px;
}

.product__description-price {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
    color: #EF5B70;
    padding-top: 32px;
}

.product__description-grayband {
    height: 1px;
    width: 100%;
    border: 1px solid #EAEAEA;
    margin-top: 65px;
}

.product__main-button:hover {
    background-color: #F7F7F7;
}

.product__main-button:active {
    font-weight: bold;
}

.dropdown-view {
    text-transform: uppercase;
    height: 17px;
    width: 109px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
}

.product__minicatalog {
    margin-top: 664px;
    margin-bottom: 128px;

    width: 100%;
    height: 581;

    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 581px);
    grid-template-areas: 
        "product__minicatalog-left product__minicatalog-center product__minicatalog-right";
    grid-column-gap: 30px;
}

.product__minicatalog-left {
    grid-template-areas: product__minicatalog-left;
}

.product__minicatalog-right {
    grid-template-areas: product__minicatalog-right;
    display: block;
}

.product__minicatalog-center {
    grid-template-areas: product__minicatalog-center;
    display: block;
}



@media (max-width: 1599px) {
    .carousel {
        width: 768px;
    }
    
    .carousel__item-filling {
        height: 624px;
    }
    
    .carousel__img {
        height: 565px;
        width: 466px;
        padding-top: 30px;
    }

    .product__description {
        height: 601px;
        width: 768px;
        position: relative;
        margin-top: 0px;
        margin: 0 ;
    }

    .product__container {
        width: 768px;
        margin: 0 auto;
    }

    .product__minicatalog {
        margin-top: 129px;
        
        width: 736px;
        margin-left: 16px;
    
        grid-template-columns: repeat(2, 360px);
        grid-template-areas: 
            "product__minicatalog-left product__minicatalog-center";
        grid-column-gap: 16px;
    }

    .product__minicatalog-right {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel {
        width: 375px;
    }
    
    .carousel__img {
        height: 480px;
        width: 370px;
        padding-top: 85px;
    }

    .product__description {
        height: 600px;
        width:  375px;
    }

    .product__container {
        width: 375px;
    }

    .product__description-container {
        width: 326px;
    }

    .dropdown-view {
        height: 12px;
        width: 78px;
        font-size: 10px;
        line-height: 12px;
    }
    
    .product__minicatalog {
        margin-top: 64px;
        margin-bottom: 64px;
        
        width: 358px;
        margin-left: 8px;
    
        grid-template-columns: repeat(1, 358px);
        grid-template-rows: repeat(2, 581px);
        grid-template-areas: 
            "product__minicatalog-left" 
            "product__minicatalog-right";
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .product__minicatalog-right {
        display: block;
    }
    
    .product__minicatalog-center {
        display: none;
    }

    
}