* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  margin: 0 auto;
  background-color: rgb(122, 179, 233);
  width: 1140px;
}



input {outline:none;}